*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

header{
    justify-content: center;
    align-items: center;
    background-color: brown;
    display: flex;
    padding: 0.5rem 1rem;
    margin-bottom: 0.8rem;
    box-shadow: 0 0.5rem 1rem black;
}
nav{
    padding-left: 9rem;
    margin-top: 1rem;
}

#titulo{
    margin: auto;
    padding-left: 35rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    text-decoration: solid;
    color: rgb(228, 210, 48);
    text-shadow: 0 0.1rem 0.3rem black;
}


a{
    text-decoration: none;
    color: beige;
    padding: 0 1rem;
    font-family: sans-serif;
}

a:hover{
    text-shadow: 0 0.3rem 0.3rem black;
}

.cartWidget{
    display: block;
    margin-left: 25rem;
}

#boton{
    float: left;
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}
#parrafo{
    float: left;
    margin: 1rem;
}
#onAdd{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin: 2rem 10% 2rem 10%;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: solid;
}
#tituloProducto{
    padding-top: 0.5rem;

}
/* #botonCarrito{
    width: 8.5rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    color: blue;
    border: 0.1rem solid blue;
    border-radius: 0.3rem;
}
#botonCarrito:hover{
    box-shadow: 0 0.3rem 0.3rem black;
} */

#imagenes{
    width: 60%;
    margin: 3rem;
}
#productConteiner{
    width: 40%;
    margin: auto;
    margin-top: 2rem;
    border: 0.1rem solid brown;
    box-shadow: 0 0.5rem 1rem black;
    background-color: rgb(231, 214, 214);
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#productConteiner:hover{
    width: 41%;
    margin: auto;
    margin-top: 2rem;
    border: 0.1rem solid brown;
    box-shadow: 0 0.5rem 1rem black;
    background-color: rgb(231, 214, 214, 0.815);
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#tittleProduct{
    margin-top: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 0 0.1rem 0.3rem black;
}
#desProduct{
    margin: 2rem;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0 0.05rem 0.2rem black;
}
#butDetalle{
    font-size: 1.3rem;
    background-color: brown;
    width: 10rem;
    height: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.1rem 0.3rem black;
}

.logoCargando{
    font-size: 30rem;
    text-align: center;
}

/*------------------------------ Detalle del producto -------------------------------------*/
.body{
    background-color: gray;
    padding-bottom: 10rem;
}
.productImgConteiner{
    background-color: white;
    box-shadow: 0 0.5rem 1rem black;
    display: flex;
    width: 98%;
    border: solid rgb(236, 236, 236);
    border-radius: 0.5rem;
    margin: 2rem auto 2rem auto;
    align-items: center;
    justify-content: center;
}

.imagenesDetail{
    width: 50%;
    padding: 1rem 2rem 0rem 1rem;
}

.detailConteiner{
    display: block;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0.2rem 0.2rem black;
    border: 0.15rem solid rgb(185, 185, 185);
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.tittleDetail{
    text-align: center;
    margin: 1rem 0 3rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 0 0.1rem 0.3rem black;
}

.ProductDetail{
    margin: 2rem;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 0 0.05rem 0.2rem black;
}

.productPrice{
    width: 7rem;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 0.4rem;
    border: solid green;
    background-color: rgba(106, 255, 106, 0.24);
    margin: auto;
    text-align: center;
    font-size: 2rem;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0.05rem 0.1rem black;
}

.butCarrito{
    display: block;
    width: 50%;
    padding: 0.8rem;
    border-radius: 0.4rem;
    border: solid  rgb(49, 49, 240);
    background-color:  rgba(90, 90, 253, 0.432);
    margin: 2rem auto 2rem auto;
    font-size: 2rem;
    color: rgb(49, 49, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0.05rem 0.1rem black;
}
.butCarrito:hover{
    display: block;
    width: 60%;
    padding: 1rem;
    border-radius: 0.4rem;
    border: solid  rgba(49, 49, 240, 0.562);
    background-color:  rgba(90, 90, 253, 0.308);
    margin: 2rem auto 2rem auto;
    font-size: 2rem;
    color: rgba(49, 49, 240, 0.562);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0.05rem 0.1rem black;
    cursor: pointer;
}

/*-------------------------------------------------Contenedor Carrito--------------------------------------------------------*/

.contCart{
    display: flex;
    margin: 1.5rem auto 0 auto;
    box-shadow: 0 0.2rem 0.2rem black;
    border: solid black;
    border-radius: 0.5rem;
    background-color: white;
    height: 15rem;
    width: 50rem;
    padding: 1rem
}

.imgCart{
    /* width: 25%; */
    margin: 0.5rem 2rem 0.5rem 0.5rem;
}

.tittleCart{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    padding-top: 3.4rem;
    padding-bottom: 1rem;
}

.quantity{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.butRemove{
    height: 15%;
    width: 5%;
    border: solid brown;
    background-color: rgb(252, 121, 121);
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.5rem;
    margin-left: 10rem;
    font-size: 1.5rem;
}

.butRemove:hover{cursor: pointer;}

.contTotal{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(228, 210, 48);
    text-shadow: 0 0.05rem 0.1rem black;
    background-color: rgb(42, 165, 89);
    border: 0.1rem solid black;
}

.tittleCartVacio{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    margin-top: 8rem;
}

.vaciarCart{
    display: block;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: brown;
    border-radius: 0.5rem;
    width: 20rem;
    height: 4rem;
    margin: 1rem auto 2rem auto;
    box-shadow: 0 0.1rem 0.3rem black;
}

.vaciarCart:hover{
    display: block;  
    cursor: pointer;
    width: 21rem;
    height: 5rem;
    background-color: rgba(165, 42, 42, 0.747);
    box-shadow: 0 0.5rem 0.8rem black;
}

/* ----------------------- Orden Compra ---------------------------*/

.ordenCompra{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
}

input{
    height: 2rem;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    margin-right: 0.3rem;
    box-shadow: 0 0.1rem 0.3rem black;
}

.btnCompra{
    display: block;
    margin: 1rem auto 0rem auto;
    width: 13rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.3rem black;
}

.btnCompra:hover{
    cursor: pointer;
    width: 14rem;
    padding: 0.8rem;
    box-shadow: 0 0.5rem 0.8rem black;
}
.ordenTittle{
    margin-right: 2rem;
    margin-top: 0.57%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.idCompra{
    margin-top: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnClean{
    display: block;
    margin: 1rem auto 0rem auto;
    width: 13rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.3rem black;
}

.btnClean:hover{
    cursor: pointer;
    width: 14rem;
    padding: 0.8rem;
    box-shadow: 0 0.5rem 0.8rem black;
}